@keyframes menu {
    from {
        left: 100vw;
    }
    to {
        left: 0;
    }
}
@keyframes swing {
    15% {
        transform: translateX(6px);
    }
    30% {
        transform: translateX(-6px);
    }
    40% {
        transform: translateX(3px);
    }
    50% {
        transform: translateX(-3px);
    }
    65% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0);
    }
}
