.broadcasts {
    .head {
        margin-top: 80px;
        z-index: 999;
        position: relative;
        @media (max-width: 900px) {
            margin-top: 32px;
        }
        @media (max-width: 500px) {
            margin-top: 25px;
        }
        &__container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: -10px;
            @media (max-width: 500px) {
                display: block;
                margin-top: 0;
            }
        }
        &__big-title {
            color: #ffffff;
            margin-top: 10px;
            position: relative;
            margin-right: 15px;
            @media (max-width: 900px) {
                margin-left: 15px;
            }
            @media (max-width: 500px) {
                margin-right: 0;
                margin-top: 0;
                margin-left: 11px;
            }
            &::after {
                position: absolute;
                content: "";
                width: 25px;
                height: 25px;
                background-color: var(--red-type-one);
                border-radius: 50%;
                top: 23px;
                left: -42px;
                @media (max-width: 900px) {
                    width: 15px;
                    height: 15px;
                    left: -25px;
                    top: 12px;
                }
                @media (max-width: 500px) {
                    width: 11px;
                    height: 11px;
                    left: -21px;
                    top: 15px;
                }
            }
        }
        &__time {
            margin-top: 10px;
            @media (max-width: 500px) {
                display: flex;
                align-items: flex-end;
            }
            &-online {
                color: #ffffff;
                &-second {
                    color: var(--grey-type-seven);
                    width: 69px;
                    display: inline-block;
                    @media (max-width: 900px) {
                        width: 39px;
                    }
                }
            }
            &-city {
                font-family: Gilroy;
                font-size: 26px;
                line-height: 32px;
                color: #ffffff;
                margin-top: 5px;
                @media (max-width: 900px) {
                    margin-top: 0;
                    font-size: 15px;
                    line-height: 20px;
                    margin-bottom: 3px;
                }
                @media (max-width: 500px) {
                    margin-left: 17px;
                }
            }
        }
    }
}
