.broadcasts {
    .head {
        margin-top: 80px;
        z-index: 999;
        position: relative;
        @media (max-width: 900px) {
            margin-top: 32px;
        }
        @media (max-width: 500px) {
            margin-top: 25px;
        }
        &__container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: -10px;
            @media (max-width: 500px) {
                display: block;
                margin-top: 0;
            }
        }
        &__big-title {
            color: #ffffff;
            margin-top: 10px;
            position: relative;
            margin-right: 15px;
            @media (max-width: 900px) {
                margin-left: 15px;
            }
            @media (max-width: 500px) {
                margin-right: 0;
                margin-top: 0;
                margin-left: 11px;
            }
            &::after {
                position: absolute;
                content: "";
                width: 25px;
                height: 25px;
                background-color: var(--red-type-one);
                border-radius: 50%;
                top: 23px;
                left: -42px;
                @media (max-width: 900px) {
                    width: 15px;
                    height: 15px;
                    left: -25px;
                    top: 12px;
                }
                @media (max-width: 500px) {
                    width: 11px;
                    height: 11px;
                    left: -21px;
                    top: 15px;
                }
            }
        }
        &__time {
            margin-top: 10px;
            @media (max-width: 500px) {
                display: flex;
                align-items: flex-end;
            }
            &-online {
                color: #ffffff;
                &-second {
                    color: var(--grey-type-seven);
                    width: 69px;
                    display: inline-block;
                    @media (max-width: 900px) {
                        width: 39px;
                    }
                }
            }
            &-city {
                font-family: Gilroy;
                font-size: 26px;
                line-height: 32px;
                color: #ffffff;
                margin-top: 5px;
                @media (max-width: 900px) {
                    margin-top: 0;
                    font-size: 15px;
                    line-height: 20px;
                    margin-bottom: 3px;
                }
                @media (max-width: 500px) {
                    margin-left: 17px;
                }
            }
        }
    }
    .slider {
        margin: 40px auto 0;
        max-width: 1353px;
        @media (max-width: 1279px) {
            margin: 40px 10px 0;
        }
        @media (max-width: 900px) {
            margin: 40px 32px 0;
        }
        @media (max-width: 500px) {
            margin: 35px 16px 0;
        }
        .avatars__avatar-modal {
            @media (max-width: 500px) {
                left: -40px;
            }
        }
        .avatars__more-modal {
            @media (max-width: 500px) {
                right: -93px;
            }
        }
        &__head {
            box-shadow: 0px 4px 12px rgba(63, 66, 91, 0.21);
            border-radius: 15px 15px 0px 0px;
            background: #ffffff;
            transition: 0.3s;
            padding: 17px 0;
            position: relative;
            z-index: 3;
            &:hover {
                background-color: var(--footer-color);
                .slider__title {
                    color: #fff;
                }
            }
            .container {
                padding: 0 24px;
                max-width: calc(#{$content-width} + 48px);
                display: flex;
                align-items: center;
            }
        }
        &__title {
            font-family: Gilroy;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.01em;
            flex-grow: 1;
            transition: 0.3s;
            @media (max-width: 500px) {
                font-weight: 500;
                font-size: 15px;
                line-height: 15px;
            }
        }
        &__arrow {
            width: 50px;
            height: 50px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                border-radius: 15px;
            }
            &--left {
                margin-right: 10px;
            }
        }
        &__inner {
            background: #fafbff;
            border-radius: 0 0 15px 15px;
            padding-left: 50px;
        }
        .swiper-wrapper {
            padding: 90px 0 16px;
        }
        &__line {
            position: absolute;
            border: 1px dashed #92949a;
            height: 100%;
            top: 65px;
            width: 1px;
            &--active {
                top: 0px;
                width: 1px;
                height: 100%;
                background-color: var(--red-type-one);
                z-index: 0;
            }
            &--first {
                left: 0;
            }
            &--second {
                left: 158px;
                @media (max-width: 700px) {
                    left: 120px;
                }
            }
            &--third {
                left: 316px;
                @media (max-width: 700px) {
                    left: 240px;
                }
            }
            &--fourth {
                left: 474px;
                @media (max-width: 700px) {
                    left: 360px;
                }
            }
            &--fifth {
                left: 632px;
                @media (max-width: 700px) {
                    left: 480px;
                }
            }
            &--sixth {
                left: 790px;
                @media (max-width: 700px) {
                    left: 600px;
                }
            }
            &--seventh {
                left: 948px;
                @media (max-width: 700px) {
                    left: 720px;
                }
            }
            &--eighth {
                left: 1106px;
                @media (max-width: 700px) {
                    left: 840px;
                }
            }
            &--ninth {
                left: 1264px;
                @media (max-width: 700px) {
                    left: 960px;
                }
            }
            &--tenth {
                left: 1422px;
                @media (max-width: 700px) {
                    left: 1080px;
                }
            }
            &--eleventh {
                left: 1580px;
                @media (max-width: 700px) {
                    left: 1200px;
                }
            }
            &--twelfth {
                left: 1738px;
                @media (max-width: 700px) {
                    left: 1320px;
                }
            }
            &--thirteenth {
                left: 1896px;
                @media (max-width: 700px) {
                    left: 1440px;
                }
            }
            &--fourteenth {
                left: 2054px;
                @media (max-width: 700px) {
                    left: 1560px;
                }
            }
            &--fifteenth {
                left: 2212px;
                @media (max-width: 700px) {
                    left: 1680px;
                }
            }
        }
        &__number {
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            position: absolute;
            font-feature-settings: "cpsp" on, "case" on;
            top: 35px;
            color: #6d6f73;
            min-width: 54px;
            &--active {
                background-color: var(--red-type-one);
                position: absolute;
                top: 7px;
                font-weight: 500;
                font-size: 10px;
                line-height: 19px;
                letter-spacing: 0.1em;
                height: 19px;
                display: block;
                color: #ffffff;
                border-radius: 4px;
                width: 84px;
                text-align: center;
            }
            &--first {
                left: -26px;
            }
            &--second {
                left: 132px;
                @media (max-width: 700px) {
                    left: 95px;
                }
            }
            &--third {
                left: 290px;
                @media (max-width: 700px) {
                    left: 216px;
                }
            }
            &--fourth {
                left: 448px;
                @media (max-width: 700px) {
                    left: 337px;
                }
            }
            &--fifth {
                left: 606px;
                @media (max-width: 700px) {
                    left: 458px;
                }
            }
            &--sixth {
                left: 764px;
                @media (max-width: 700px) {
                    left: 579px;
                }
            }
            &--seventh {
                left: 922px;
                @media (max-width: 700px) {
                    left: 700px;
                }
            }
            &--eighth {
                left: 1080px;
                @media (max-width: 700px) {
                    left: 821px;
                }
            }
            &--ninth {
                left: 1238px;
                @media (max-width: 700px) {
                    left: 939px;
                }
            }
            &--tenth {
                left: 1396px;
                @media (max-width: 700px) {
                    left: 1059px;
                }
            }
            &--eleventh {
                left: 1554px;
                @media (max-width: 700px) {
                    left: 1181px;
                }
            }
            &--twelfth {
                left: 1712px;
                @media (max-width: 700px) {
                    left: 1300px;
                }
            }
            &--thirteenth {
                left: 1870px;
                @media (max-width: 700px) {
                    left: 1420px;
                }
            }
            &--fourteenth {
                left: 2028px;
                @media (max-width: 700px) {
                    left: 1537px;
                }
            }
            &--fifteenth {
                left: 2186px;
                @media (max-width: 700px) {
                    left: 1661px;
                }
            }
        }
        .swiper-slide {
            width: 572px;
            z-index: -1;
            @media (max-width: 700px) {
                width: 450px;
            }
        }
        &__slide {
            background: #ffffff;
            box-shadow: 0px 6px 20px rgba(63, 66, 91, 0.12);
            border-radius: 7px;
            padding: 20px 25px;
            transition: 0.3s;
            flex: 0 0 250px;
            position: absolute;
            // left: 0;
            &:hover {
                box-shadow: 0px 30px 20px -20px rgba(63, 66, 91, 0.1),
                    0px 20px 50px -10px rgba(63, 66, 91, 0.2);
            }
            &-title {
                font-weight: normal;
                font-size: 15px;
                line-height: 20px;
                font-feature-settings: "cpsp" on;
                color: #6d6f73;
                &--active {
                    color: var(--red-type-one);
                    font-family: Gilroy;
                    font-size: 13px;
                    line-height: 80%;
                    font-weight: bold;
                    letter-spacing: 1.2px;
                    position: relative;
                    padding-left: 15px;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                        background-color: var(--red-type-one);
                        border-radius: 50%;
                        width: 5px;
                        height: 5px;
                    }
                }
            }
            &-info {
                margin-top: 11px;
                padding-left: 13px;
                border-left: 3px solid #30bf9b;
            }
            &-time {
                font-weight: normal;
                font-size: 15px;
                line-height: 20px;
                font-feature-settings: "cpsp" on;
            }
            &-text {
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;
                margin-top: 7px;
            }
            &-footer {
                margin-top: 9px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-top: -1px;
            }
            &-hour,
            &-link {
                font-weight: normal;
                font-size: 15px;
                line-height: 20px;
                font-feature-settings: "cpsp" on;
                display: flex;
                align-items: center;
                &:hover {
                    svg {
                        margin-left: 0px;
                    }
                }
                svg {
                    transition: 0.3s;
                    margin-left: 4px;
                }
            }
            &-hour {
                margin: 0 30px 0 14px;
            }
            &-link,
            &-hour,
            &-clock {
                margin-top: 10px;
            }
            .avatars {
                margin-top: 20px;
                &__more {
                    display: block;
                    flex: 0 0 50px;
                    height: 50px;
                    width: 50px;
                    margin-left: -10px;
                    position: relative;
                    cursor: pointer;
                    border-radius: 50%;
                    border: 3px solid #fff;
                    background: #ced2d9;
                    margin-bottom: 6px;
                }
            }
        }
    }
}
