.event {
    .container {
        @media (max-width: 700px) {
            padding-right: 0px;
        }
    }
    .main {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 900px) {
            margin-top: 20px;
        }
        @media (max-width: 700px) {
            padding-right: 32px;
        }
        @media (max-width: 500px) {
            padding-right: 16px;
        }
        .share,
        .favorites {
            color: #fff;
        }
        &__content {
            flex: 0 0 676px;
            @media (max-width: 1100px) {
                flex: 0 1 100%;
            }
            &-video {
                border-radius: 10px;
                width: 676px;
                height: 380px;
                @media (max-width: 1100px) {
                    width: 100%;
                    height: calc((100vw - 40px) * 0.5625);
                }
                @media (max-width: 900px) {
                    height: calc((100vw - 64px) * 0.5625);
                }
                @media (max-width: 500px) {
                    height: calc((100vw - 32px) * 0.5625);
                }
            }
            &-block {
                margin-top: 25px;
                background: #ffffff;
                border-radius: 15px;
                padding: 20px 15px;
                @media (max-width: 500px) {
                    margin-top: 10px;
                    width: 288px;
                    margin-left: auto;
                    margin-right: auto;
                }
                &-head {
                    display: flex;
                    align-items: center;
                }
                &-time {
                    font-family: Gilroy;
                    font-size: 22px;
                    line-height: 25px;
                    letter-spacing: 0.02em;
                    font-feature-settings: "cpsp" on, "ordn" on;
                }
                &-tire {
                    position: relative;
                    line-height: 25px;
                    margin: 0 5px;
                    width: 15px;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        background-color: #787c80;
                        height: 2px;
                    }
                }
                &-date {
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 20px;
                    font-feature-settings: "cpsp" on;
                    color: #5c6166;
                    margin-left: 10px;
                }
                &-string {
                    margin: 15px 0;
                    position: relative;
                    width: 100%;
                    display: flex;
                    overflow: hidden;
                }
                &-link {
                    line-height: 34px;
                    height: 34px;
                    background: rgba(206, 213, 237, 0.3);
                    border-radius: 4px;
                    flex: 0 0 auto;
                    position: relative;
                    z-index: 3;
                    padding-left: 6px;
                }
                &-copy {
                    height: 34px;
                    width: 34px;
                    background: #f1f3fa;
                    position: absolute;
                    z-index: 5;
                    right: 0;
                }
                &-zoom {
                    width: auto;
                    display: inline-flex;
                    @media (max-width: 500px) {
                        display: flex;
                    }
                }
            }

            &-timer {
                display: flex;
                margin-top: 25px;
                justify-content: space-between;
                @media (max-width: 900px) {
                    margin-top: 20px;
                }
                @media (max-width: 700px) {
                    flex-direction: column;
                }
                @media (max-width: 500px) {
                    margin-top: 15px;
                }
                .block-head__ui {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;
                    .favorites {
                        order: -1;
                    }
                    .share {
                        margin-right: 0;
                    }
                }
            }
            &-date {
                background: linear-gradient(0deg, #ffffff, #ffffff), #f2f3f9;
                box-shadow: 0px 6px 20px rgba(63, 66, 91, 0.12);
                border-radius: 10px;
                padding: 23px 24px;
                flex: 0 0 187px;
                @media (max-width: 700px) {
                    flex: 0 1 100%;
                    display: flex;
                    justify-content: space-between;
                }
                @media (max-width: 500px) {
                    padding: 18px 24px;
                }
                &-inner {
                    @media (max-width: 700px) {
                        flex: 0 1 100%;
                    }
                }
                &-day {
                    margin-top: 12px;
                    padding-top: 12px;
                    border-top: 2px solid var(--grey-type-fourteen);
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 20px;
                    text-align: center;
                    font-feature-settings: "cpsp" on;
                    @media (max-width: 700px) {
                        margin-top: 0;
                        padding-top: 0;
                        border-top: none;
                    }
                }
                &-button {
                    width: 100%;
                    max-width: 100%;
                    display: block;
                    text-align: center;
                    background-color: var(--dark-blue-type-two);
                    border-radius: 50px;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 20px;
                    font-feature-settings: "cpsp" on;
                    color: #ffffff;
                    line-height: 32px;
                    height: 32px;
                    margin-top: 10px;
                }
            }
            &-time {
                display: flex;
                align-items: center;
                @media (max-width: 700px) {
                    padding-right: 20px;
                    margin-right: 20px;
                    border-right: 2px solid var(--grey-type-fourteen);
                }
                &-hour {
                    font-family: Gilroy;
                    font-size: 22px;
                    line-height: 25px;
                    letter-spacing: 0.02em;
                    font-feature-settings: "cpsp" on, "ordn" on;
                }
                &-tire {
                    margin: 0 5px;
                }
            }
            &-start {
                background: #ffffff;
                border-radius: 10px;
                flex: 0 0 469px;
                padding: 29px 0;
                text-align: center;
                @media (max-width: 900px) {
                    flex: 0 1 100%;
                    margin-left: 20px;
                }
                @media (max-width: 700px) {
                    margin: 0 0 10px;
                    order: -1;
                }
                @media (max-width: 500px) {
                    padding: 20px 0;
                }
                &--finish {
                    background: var(--light-blue-type-three);
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    .main__content-start-title,
                    .main__content-start-block {
                        display: none;
                    }
                }
                &-finish {
                    display: inline-block;
                    background: #ffffff;
                    border-radius: 40px;
                    line-height: 50px;
                    height: 50px;
                    padding: 0 35px 0 50px;
                    font-family: Gilroy;
                    font-size: 12px;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                    position: relative;
                    &:hover {
                        border-radius: 10px;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        background-color: var(--red-type-one);
                        left: 30px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        top: 50%;
                        transform: translate(0, -50%);
                    }
                }
                &-title {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    @media (max-width: 900px) {
                        line-height: 111.42%;
                    }
                }
                &-block {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                }
                &-box {
                    flex: 0 0 60px;
                }
                &-number {
                    font-family: Gilroy;
                    font-size: 30px;
                    line-height: 111.42%;
                    letter-spacing: 0.01em;
                }
                &-text {
                    margin-top: 5px;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 14px;
                    @media (max-width: 900px) {
                        font-size: 12px;
                        letter-spacing: 0.02em;
                    }
                }
                &-dots {
                    margin: 0 20px;
                    @media (max-width: 500px) {
                        margin: 0 10px;
                    }
                }
            }
            &-title {
                font-family: Gilroy;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0.01em;
                margin-top: 25px;
                color: #fff;
                @media (max-width: 900px) {
                    margin-top: 22px;
                    font-size: 24px;
                    line-height: 30px;
                }
                @media (max-width: 500px) {
                    margin-top: 17px;
                }
            }
            &-text {
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;
                margin-top: 12px;
                height: 208px;
                overflow: hidden;
                color: #fff;
                @media (max-width: 900px) {
                    margin-top: 6px;
                    font-size: 16px;
                    line-height: 24px;
                    height: 168px;
                }
                @media (max-width: 500px) {
                    margin-top: 12px;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.02em;
                    height: 234px;
                }
            }
            &-more {
                margin-top: 12px;
                &--open {
                    .button__back {
                        transform: rotate(180deg);
                    }
                }
                @media (max-width: 900px) {
                    margin-top: 6px;
                }
                @media (max-width: 500px) {
                    margin-top: 12px;
                }
            }
            &-tags {
                display: flex;
                flex-wrap: wrap;
                margin-top: 20px;
                .tag {
                    margin-right: 5px;
                    // background-color: var(--light-blue-type-two);
                    background: rgba(47, 137, 252, 0.4);
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }
        &__recommendation {
            flex: 0 0 328px;
            margin-left: 20px;
            align-self: flex-start;
            position: relative;
            @media (max-width: 1100px) {
                display: none;
            }
            &::after {
                position: absolute;
                content: url(../images/recommendation-shadow.svg);
                bottom: 10px;
                left: 0;
                width: 100%;
                pointer-events: none;
            }
            &-title {
                font-family: Gilroy;
                font-size: 24px;
                line-height: 30px;
                letter-spacing: 0.01em;
                color: #fff;
            }
            &-block {
                margin-top: 24px;
                height: 560px;
                overflow: auto;
                position: relative;
                padding-bottom: 14px;
                padding-right: 15px;
                @media (max-width: 1100px) {
                    overflow: visible;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: -20px;
                    margin-top: 20px;
                    justify-content: space-between;
                }
                &-shadow {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    @media (max-width: 1100px) {
                        display: none;
                    }
                    rect {
                        width: 378px;
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
    }

    .recommendation {
        display: none;
        margin-top: 32px;
        @media (max-width: 1100px) {
            display: block;
        }
        &__title {
            font-family: Gilroy;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.01em;
            color: #fff;
        }
        .min-card {
            margin-bottom: 20px;
            max-width: 100%;
            flex: 0 1 calc(50% - 8px);
            display: flex;
            flex-direction: column;
            @media (max-width: 700px) {
                flex: 0 1 100%;
            }
            &__title {
                flex-grow: 1;
            }
        }
        .avatars {
            &__more-modal {
                @media (max-width: 500px) {
                    right: -74px;
                }
            }
            // flex-grow: 1;
            // align-items: flex-end;
        }
    }
}
