.program {
    .content {
        margin-top: 50px;
        .filter-link {
            &:hover {
                .filter-link__star {
                    path {
                        fill: #000;
                        opacity: 1;
                    }
                }
            }
            &__star {
                margin-right: 8px;
                path {
                    transition: 0.3s;
                }
            }
            &--active {
                .filter-link__star {
                    path {
                        fill: #000;
                        opacity: 1;
                    }
                }
            }
        }
        &__container {
            margin-top: 34px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 1100px) {
                flex-wrap: wrap;
            }
            @media (max-width: 900px) {
                margin-top: 20px;
            }
        }
        .card {
            flex: 0 0 calc(33.33% - 20px);
            padding: 20px;
            display: flex;
            flex-direction: column;
            @media (max-width: 1100px) {
                flex: 0 1 100%;
            }
            .avatars__more-modal {
                @media (max-width: 1200px) {
                    left: -47%;
                }
                @media (max-width: 500px) {
                    left: auto;
                }
            }
            .avatars {
                position: relative;
            }
            .avatars__avatar {
                position: static;
            }
            .avatars__avatar-modal {
                transform: none;
                left: 0;
            }
            .avatars__avatar--desktop {
                display: none;
            }
            .avatars__more {
                display: block;
            }
            &__head {
                align-items: flex-start;
                &-info {
                    margin-left: 8px;
                }
                &-favorites {
                    color: $mainColor;
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 15px;
                    line-height: 20px;
                }
            }
            &__body {
                display: block;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                @media (max-width: 900px) {
                    display: block;
                }
            }
            &__info {
                margin-right: 0;
                flex: 0 1 auto;
            }
            &__title {
                font-size: 20px;
                line-height: 28px;
                @media (max-width: 900px) {
                    font-size: 26px;
                    line-height: 32px;
                }
                @media (max-width: 500px) {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
            &__text {
                color: $mainColor;
            }
            &__footer {
                flex-wrap: wrap;
                margin-top: 20px;
                flex-direction: column;
                @media (max-width: 900px) {
                    flex-direction: row;
                }
                @media (max-width: 700px) {
                    flex-direction: column;
                }
            }
            &__date {
                display: none;
                &--mobile {
                    display: flex;
                    margin: 0 0 14px;
                }
            }
            &__time {
                font-size: 16px;
                line-height: 24px;
                @media (max-width: 900px) {
                    font-size: 22px;
                    line-height: 25px;
                }
                @media (max-width: 500px) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            &__team {
                padding-left: 0;
                // margin-bottom: 10px;
                &--border {
                    order: 1;
                    border-right: none;
                    padding: 10px 0 0;
                    border-left: none;
                    border-top: 1px solid var(--grey-type-ten);
                    margin-bottom: 0;
                    @media (max-width: 900px) {
                        padding: 0 10px 0 10px;
                        border-left: 1px solid var(--grey-type-ten);
                        border-top: none;
                    }
                    @media (max-width: 700px) {
                        padding: 10px 0 0;
                        border-left: none;
                        border-top: 1px solid var(--grey-type-ten);
                    }
                }
                &-title {
                    color: $mainColor;
                    margin-bottom: 5px;
                }
            }
            &__share {
                flex: 0 1 100%;
                justify-content: flex-end;
                order: 2;
                margin-top: 0;
            }
            &__tags {
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 15px;
            }
            .tag {
                margin: 2.5px;
            }
        }
        &__more {
            display: none;
            @media (max-width: 1100px) {
                display: flex;
                justify-content: center;
                margin: 20px auto 0;
            }
            @media (max-width: 500px) {
                width: auto;
            }
            .button__back {
                @media (max-width: 500px) {
                    margin-left: 10px;
                }
            }
        }
    }
    .interesting {
        .section-head {
            .section-head__link {
                @media (max-width: 900px) {
                    display: none;
                }
            }
        }
        .section-head__link {
            @media (max-width: 900px) {
                margin: 20px auto 0;
                width: auto;
                display: inline-flex;
            }
        }
        .container {
            @media (max-width: 900px) {
                text-align: center;
            }
        }
        &__block {
            display: flex;
            justify-content: space-between;
            margin-top: 32px;
            // align-items: flex-end;
            @media (max-width: 900px) {
                margin-top: 20px;
            }
            @media (max-width: 700px) {
                display: block;
                margin-top: 174px;
            }
        }
        &__folder {
            filter: drop-shadow(0px 6px 20px rgba(63, 66, 91, 0.12));
            flex: 0 1 calc(33.33% - 20px);
            position: relative;
            margin-top: 154px;
            cursor: default;
            text-align: left;
            @media (max-width: 1100px) {
                flex: 0 1 calc(50% - 20px);
            }
            &:first-child {
                @media (max-width: 700px) {
                    margin-bottom: 174px;
                }
            }
            &:hover {
                .interesting__folder-inner {
                    height: calc(100% - 25px);
                }
                .interesting__folder-card {
                    transform: rotate(-2deg);
                    top: -143px;
                }
                .interesting__folder-picture--second {
                    top: -155px;
                }
                .interesting__folder-picture--first {
                    top: -169px;
                    transform: rotate(2deg);
                }
            }
            &::after {
                content: url(../images/folfer-top.svg);
                position: absolute;
                top: -24px;
                right: 0;
                z-index: 1;
            }
            &::before {
                content: "";
                position: absolute;
                top: -10px;
                left: 0;
                width: 100%;
                height: 90px;
                background-color: var(--grey-type-sixteen);
                border-radius: 22px;
            }
            &--hidden {
                @media (max-width: 1100px) {
                    display: none;
                }
            }
            &-picture {
                border-radius: 15px;
                position: absolute;
                top: -154px;
                max-width: calc(100% - 30px);
                left: 15px;
                height: 180px;
                transition: 0.3s;
            }
            &-inner {
                padding: 20px;
                background: #ffffff;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                position: relative;
                z-index: 2;
                height: 100%;
                transition: 0.3s;
            }

            &-card {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc(100% - 20px);
                height: 180px;
                background-color: var(--light-blue-type-four);
                border-radius: 15px;
                z-index: 1;
                top: -154px;
                left: 10px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding-top: 25px;
                transition: 0.3s;
                &-img {
                    max-width: 260px;
                    height: 130px;
                }
            }
            &-title {
                font-family: Gilroy;
                font-size: 18px;
                line-height: 110%;
                letter-spacing: 0.01em;
            }
            &-text {
                font-weight: normal;
                font-size: 15px;
                line-height: 22px;
                color: var(--grey-type-one);
                margin: 8px 0 15px;
                max-height: 88px;
                transition: 0.3s;
                overflow: hidden;
            }
            &-link {
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: var(--dark-blue-type-one);
                display: flex;
                flex-grow: 1;
                align-items: flex-end;
            }
        }
    }
    .webinars {
        .section-head {
            .section-head__link {
                @media (max-width: 900px) {
                    display: none;
                }
            }
        }
        .section-head__link {
            @media (max-width: 900px) {
                margin: 20px auto 0;
                width: auto;
                display: inline-flex;
            }
        }
        .container {
            @media (max-width: 900px) {
                text-align: center;
            }
        }
        .section-head {
            margin-bottom: 25px;
        }
        .big-card {
            margin-bottom: 20px;
            text-align: left;
        }
    }
}
