.program-favorites {
    .content {
        margin-top: 50px;
        .filter-link {
            &:hover {
                .filter-link__star {
                    path {
                        fill: #fff;
                        opacity: 1;
                    }
                }
            }
            &__star {
                margin-right: 8px;
                path {
                    transition: 0.3s;
                }
            }
            &--active {
                .filter-link__star {
                    path {
                        fill: #fff;
                        opacity: 1;
                    }
                }
            }
        }
        &__more {
            display: flex;
            justify-content: center;
            margin: 25px auto 0;
            @media (max-width: 500px) {
                width: auto;
            }
            .button__back {
                @media (max-width: 500px) {
                    margin-left: 10px;
                }
            }
        }
    }
    .container--card {
        margin-top: 34px;
        @media (max-width: 900px) {
            margin-top: 19px;
        }
    }
}
