.speakers {
    .head {
        margin-top: 80px;
        @media (max-width: 900px) {
            margin-top: 35px;
        }
        .search {
            margin-top: 25px;
            @media (max-width: 900px) {
                margin-top: 30px;
            }
        }
    }
    .participants {
        &__inner {
            display: flex;
            @media (max-width: 500px) {
                display: block;
            }
        }
        &__head-title {
            flex-grow: 1;
            margin: 0 20px 0 0;
            @media (max-width: 500px) {
                margin-bottom: 10px;
            }
        }
        &__toggle-button {
            padding: 0 15px;
            border: 1px solid var(--grey-type-seven);
            border-radius: 33px;
            color: var(--grey-type-one);
            font-weight: normal;
            font-size: 15px;
            line-height: 36px;
            height: 36px;
            font-feature-settings: "cpsp" on;
            cursor: pointer;
            display: inline-block;
            &:last-child {
                margin-left: 10px;
            }
            &-input {
                position: absolute;
                left: 0;
                opacity: 0;
                pointer-events: none;
            }
            &--active {
                background: #ffffff;
                color: $mainColor;
                border-color: #fff;
            }
        }
        &__block {
            @media (max-width: 900px) {
                margin-right: -20px;
            }
            @media (max-width: 700px) {
                flex-wrap: wrap;
                margin-bottom: -16px;
                margin-right: -8px;
            }
        }
        &__participant {
            @media (max-width: 700px) {
                margin-right: 8px;
                margin-bottom: 15px;
                flex: 0 1 calc(50% - 8px);
            }
        }
        &__title {
            @media (max-width: 500px) {
                font-size: 18px;
                line-height: 22px;
            }
        }
        .button {
            margin: 40px auto 0;
            &__back {
                @media (max-width: 500px) {
                    margin-left: 10px;
                }
            }
            @media (max-width: 900px) {
                margin-top: 30px;
            }
            @media (max-width: 500px) {
                justify-content: center;
            }
        }
    }
}
